//COLORS
$color-primary-aqua: #00FFFF;
$color-primary: #0062FF; //neon med blue
$color-primary-light: #099FFF; //neon light blue
$color-primary-dark: #0033FF; //neon dark blue

$color-secondary-light: #ffb900; //light orange
$color-secondary-dark: #ff7730; //dark orange

$color-tertiary-light: #2998ff; //
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//gradients
//background-image: linear-gradient(to right bottom, rgba(#FB04E1, .7), rgba(#1128F4, .7)); //blue-purplish
//background-image: linear-gradient(to right bottom, rgba(#FF6600, .7), rgba(#FF00FF, .7)); //orange-pinkish

//font
$def-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
